@{
    ViewData["Title"] = "Home Page";
}

<section id="hero">
    <div class="hero-container">
        <h1>Snappy Rental Car</h1>
        <h2>Rent at one click and get going!!!</h2>
        <a asp-area="" asp-controller="Account" asp-action="Login" class="btn-get-started">Log in</a>
        @*<a asp-controller="home" asp-action="Selection" class="btn-get-started">Get Started</a>*@
    </div>
</section>